<hr>

<form method="POST" action="login">
    <p align="center">
        <b>Sign In:</b> Username: <input type="text" name="login">
        Password: <input type="password" name="passwd">
        <input type="SUBMIT" value="Submit" name="submit">
    </p>
</form>

<hr>

<table>
    <tr>
        <td>
            <h3><a href="/login">Sign in</a></h3>
            <h3><a href="/adduser">Add User</a></h3>
            <h3><a href="/films">Show film list</a></h3>
            <h3><a href="/actors">Show actor list</a></h3>
        </td>
    </tr>
</table>