<hr>

<form method="POST" action="login">
    &nbsp&nbsp&nbsp&nbsp&nbsp
        <b>Sign In:</b> Username: <input type="text" name="login">
        Password: <input type="password" name="passwd">
        <input type="SUBMIT" value="Submit" name="submit">
</form>

<hr>

<table align="center" width="90%">
    <tr>
        <td align="center"><a href="/home"><button type="button">Home</button></button></a></td>
        <td align="center"><a href="/login"><button type="button">Sign in</button></button></a></td>
        <td align="center"><a href="/users"><button type="button">Add user</button></button></a></td>
        <td align="center"><a href="/films"><button type="button">Film list</button></button></a></td>
        <td align="center"><a href="/actors"><button type="button">Actor list</button></button></a></td>
    </tr>
</table>